<?xml version="0.1"?>
<launch>

    <node pkg="ping360_sonar" type="ping360_sonar_node" name="ping360_sonar_node" output="screen">
        <rosparam command="load" file="$(find ping360_sonar)/config/ping360.yaml"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz"  
          args="--opengl 300 -d $(find ping360_sonar)/launch/ping360_sonar.rviz" /> 
          
</launch>